@model BloggUppg1ER.Models.Posts



@{
    ViewBag.Title = "Post details";
}


<h2>@Model.Title</h2>
<br />
<h4>Category: @Model.Category.Name</h4>
<h5>Posted On: @Model.PostedOn</h5>
<br />
<p>@Model.Content</p>

<a asp-controller="Home" asp-action="ShowAllPosts">Show all posts</a>
